body {
  font-family: Avenir, sans-serif;
  margin: 0;
}
div#quad {
  background-color: #000;
  font-size: 0;
  width: 100%;
  margin: 0;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
}
div#quad .card {
  margin: 0;
  width: 25%;
  height: auto;
  transition: 1s;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
div#quad .card:hover {
  cursor: pointer;
  z-index: 4;
}
div#quad .card img {
  width: 100%;
  height: auto;
}
div#quad .card:nth-child(1) {
  transform-origin: top left;
}
div#quad .card:nth-child(2) {
  transform-origin: top;
}
div#quad .card:nth-child(3) {
  transform-origin: top;
}
div#quad .card:nth-child(4) {
  transform-origin: top right;
}
div#quad .card:nth-child(5) {
  transform-origin: left;
}
div#quad .card:nth-child(8) {
  transform-origin: right;
}
div#quad .card:nth-child(9) {
  transform-origin: bottom left;
}
div#quad .card:nth-child(10) {
  transform-origin: bottom;
}
div#quad .card:nth-child(11) {
  transform-origin: bottom;
}
div#quad .card:nth-child(12) {
  transform-origin: bottom right;
}

div#quad .card a {
  margin: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 0.3rem;
  font-size: 1.2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: 1s 1s opacity;
}
.expanded {
  transform: scale(2);
  z-index: 5;
}

div#quad .card.expanded a {
  opacity: 1;
}
div.full .card:not(.expanded) {
  pointer-events: none;
}
/* img:hover {
  opacity: 0.2;
} */

#main-footer {
  background: #000;
  color: #fff;
}

.fa-youtube {
  color: red;
}
.fa-flickr {
  color: white;
}

.fa-flickr {
  color: white;
}

.fa-instagram {
  color: transparent;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
}
